# Failed bank USA 
## WebScripting 
### wikipedia page , failed banks from  2008 to 2023

In [82]:
# importing requests and beautiful soup which are already installed in my local computer 

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [83]:
# requests library send http get to url and retrieve 
# Beautiful class from bs4 parse the HTML content 

url = "https://en.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
print(soup)

<!DOCTYPE html>

<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-language-alert-in-sidebar-enabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled" dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>List of bank failures in the United States (2008–present) - Wikipedia</title>
<script>document.documentElement.className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-language-alert-in-sidebar-enabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled";(function(){var cookie=document.cookie.match(/(?:^|; )enwikimwclientprefs=([^;]+)/);if(cookie){var featureName=cookie[1];document.documentElement.className=document.documentElement.className.replace(featureName+'-enabled',featureName+'-disabled');}}());RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":
"3f51ff37-a598-418b-a3a8-31901073858e","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_bank_failures_in_the_United_States_(2008–present)","wgTitle":"List of bank failures in the United States (2008–present)","wgCurRevisionId":1152653411,"wgRevisionId":1152653411,"wgArticleId":18718423,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles with short description","Short description is different from Wikidata","Use mdy dates from August 2011","2008 in economics","Subprime mortgage crisis","Bank failures in the United States","2009 in economics","2010 in economics","2011 in economics","Federal Deposit Insurance Corporation","2012 in economics","2013 in economics","United States economic history-related lists","Lists of banks in the United States"],"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgRelevantPageName":
"List_of_bank_failures_in_the_United_States_(2008–present)","wgRelevantArticleId":18718423,"wgIsProbablyEditable":true,"wgRelevantPageIsProbablyEditable":true,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgFlaggedRevsParams":{"tags":{"status":{"levels":1}}},"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":true,"watchlist":true,"tagline":false,"nearby":true},"wgWMESchemaEditAttemptStepOversample":false,"wgWMEPageLength":70000,"wgNoticeProject":"wikipedia","wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true,"wgPopupsFlags":10,"wgULSCurrentAutonym":"English","wgEditSubmitButtonLabelPublish":true,"wgCentralAuthMobileDomain":false,"wgULSPosition":"interlanguage","wgULSisCompactLinksEnabled":true,"wgULSisLanguageSelectorEmpty":false,"wgWikibaseItemId":"Q16153828","GEHomepageSuggestedEditsEnableTopics":true,"wgGETopicsMatchModeEnabled":false,
"wgGEStructuredTaskRejectionReasonTextInputEnabled":false,"wgGELevelingUpEnabledForUser":false};RLSTATE={"skins.vector.user.styles":"ready","ext.globalCssJs.user.styles":"ready","site.styles":"ready","user.styles":"ready","skins.vector.user":"ready","ext.globalCssJs.user":"ready","user":"ready","user.options":"loading","ext.cite.styles":"ready","mediawiki.ui.button":"ready","skins.vector.styles":"ready","skins.vector.icons":"ready","mediawiki.ui.icon":"ready","jquery.tablesorter.styles":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready","ext.wikimediaBadges":"ready","ext.uls.interlanguage":"ready","wikibase.client.init":"ready"};RLPAGEMODULES=["ext.cite.ux-enhancements","site","mediawiki.page.ready","jquery.tablesorter","mediawiki.toc","skins.vector.js","mmv.head","mmv.bootstrap.autostart","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader","ext.eventLogging","ext.wikimediaEvents","ext.navigationTiming","ext.cx.eventlogging.campaigns",
"ext.centralNotice.geoIP","ext.centralNotice.startUp","ext.gadget.ReferenceTooltips","ext.gadget.charinsert","ext.gadget.extra-toolbar-buttons","ext.gadget.switcher","ext.centralauth.centralautologin","ext.popups","ext.echo.centralauth","ext.uls.compactlinks","ext.uls.interface","ext.cx.uls.quick.actions","wikibase.client.vector-2022","ext.growthExperiments.SuggestedEditSession"];</script>
<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.implement("user.options@12s5i",function($,jQuery,require,module){mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});});});</script>
<link href="/w/load.php?lang=en&amp;modules=ext.cite.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.tablesorter.styles%7Cmediawiki.ui.button%2Cicon%7Cskins.vector.icons%2Cstyles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector-2022" rel="stylesheet"/>
<script async="" src="/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector-2022"></script>
<meta content="" name="ResourceLoaderDynamicStyles"/>
<link href="/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector-2022" rel="stylesheet"/>
<meta content="MediaWiki 1.41.0-wmf.6" name="generator"/>
<meta content="origin" name="referrer"/>
<meta content="origin-when-crossorigin" name="referrer"/>
<meta content="origin-when-cross-origin" name="referrer"/>
<meta content="max-image-preview:standard" name="robots"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="width=1000" name="viewport"/>
<meta content="List of bank failures in the United States (2008–present) - Wikipedia" property="og:title"/>
<meta content="website" property="og:type"/>
<link href="//upload.wikimedia.org" rel="preconnect"/>
<link href="//en.m.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)" media="only screen and (max-width: 720px)" rel="alternate"/>
<link href="/w/index.php?title=List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)&amp;action=edit" rel="alternate" title="Edit this page" type="application/x-wiki"/>
<link href="/static/apple-touch/wikipedia.png" rel="apple-touch-icon"/>
<link href="/static/favicon/wikipedia.ico" rel="icon"/>
<link href="/w/opensearch_desc.php" rel="search" title="Wikipedia (en)" type="application/opensearchdescription+xml"/>
<link href="//en.wikipedia.org/w/api.php?action=rsd" rel="EditURI" type="application/rsd+xml"/>
<link href="https://en.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)" rel="canonical"/>
<link href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license"/>
<link href="/w/index.php?title=Special:RecentChanges&amp;feed=atom" rel="alternate" title="Wikipedia Atom feed" type="application/atom+xml"/>
<link href="//meta.wikimedia.org" rel="dns-prefetch"/>
<link href="//login.wikimedia.org" rel="dns-prefetch"/>
</head>
<body class="skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-List_of_bank_failures_in_the_United_States_2008–present rootpage-List_of_bank_failures_in_the_United_States_2008–present skin-vector-2022 action-view"><a class="mw-jump-link" href="#bodyContent">Jump to content</a>
<div class="vector-header-container">
<header class="vector-header mw-header">
<div class="vector-header-start">
<nav aria-label="Site" class="vector-main-menu-landmark" role="navigation">
<div class="vector-menu vector-dropdown vector-menu-dropdown vector-main-menu-dropdown mw-ui-icon-flush-left mw-ui-icon-flush-right" id="vector-main-menu-dropdown">
<input aria-haspopup="true" aria-label="Main menu" class="vector-menu-checkbox" data-event-name="ui.dropdown-vector-main-menu-dropdown" id="vector-main-menu-dropdown-checkbox" role="button" type="checkbox"/>
<label aria-hidden="true" class="vector-menu-heading mw-ui-button mw-ui-quiet mw-ui-icon-element" for="vector-main-menu-dropdown-checkbox" id="vector-main-menu-dropdown-label">
<span class="mw-ui-icon mw-ui-icon-menu mw-ui-icon-wikimedia-menu"></span>
<span class="vector-menu-heading-label">Main menu</span>
</label>
<div class="vector-menu-content vector-dropdown-content">
<div class="vector-unpinned-container" id="vector-main-menu-unpinned-container">
<div class="vector-main-menu vector-pinnable-element" id="vector-main-menu">
<div class="vector-pinnable-header vector-main-menu-pinnable-header vector-pinnable-header-unpinned" data-feature-name="main-menu-pinned" data-pinnable-element-id="vector-main-menu" data-pinned-container-id="vector-main-menu-pinned-container" data-unpinned-container-id="vector-main-menu-unpinned-container">
<div class="vector-pinnable-header-label">Main menu</div>
<button class="vector-pinnable-header-toggle-button vector-pinnable-header-pin-button" data-event-name="pinnable-header.vector-main-menu.pin">move to sidebar</button>
<button class="vector-pinnable-header-toggle-button vector-pinnable-header-unpin-button" data-event-name="pinnable-header.vector-main-menu.unpin">hide</button>
</div>
<div class="vector-menu mw-portlet mw-portlet-navigation" id="p-navigation">
<div class="vector-menu-heading">
		Navigation
	</div>
<div class="vector-menu-content">
<ul class="vector-menu-content-list"><li class="mw-list-item" id="n-mainpage-description"><a accesskey="z" href="/wiki/Main_Page" title="Visit the main page [z]"><span>Main page</span></a></li><li class="mw-list-item" id="n-contents"><a href="/wiki/Wikipedia:Contents" title="Guides to browsing Wikipedia"><span>Contents</span></a></li><li class="mw-list-item" id="n-currentevents"><a href="/wiki/Portal:Current_events" title="Articles related to current events"><span>Current events</span></a></li><li class="mw-list-item" id="n-randompage"><a accesskey="x" href="/wiki/Special:Random" title="Visit a randomly selected article [x]"><span>Random article</span></a></li><li class="mw-list-item" id="n-aboutsite"><a href="/wiki/Wikipedia:About" title="Learn about Wikipedia and how it works"><span>About Wikipedia</span></a></li><li class="mw-list-item" id="n-contactpage"><a href="//en.wikipedia.org/wiki/Wikipedia:Contact_us" title="How to contact Wikipedia"><span>Contact us</span></a></li><li class="mw-list-item" id="n-sitesupport"><a href="https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&amp;utm_medium=sidebar&amp;utm_campaign=C13_en.wikipedia.org&amp;uselang=en" title="Support us by donating to the Wikimedia Foundation"><span>Donate</span></a></li></ul>
</div>
</div>
<div class="vector-menu mw-portlet mw-portlet-interaction" id="p-interaction">
<div class="vector-menu-heading">
		Contribute
	</div>
<div class="vector-menu-content">
<ul class="vector-menu-content-list"><li class="mw-list-item" id="n-help"><a href="/wiki/Help:Contents" title="Guidance on how to use and edit Wikipedia"><span>Help</span></a></li><li class="mw-list-item" id="n-introduction"><a href="/wiki/Help:Introduction" title="Learn how to edit Wikipedia"><span>Learn to edit</span></a></li><li class="mw-list-item" id="n-portal"><a href="/wiki/Wikipedia:Community_portal" title="The hub for editors"><span>Community portal</span></a></li><li class="mw-list-item" id="n-recentchanges"><a accesskey="r" href="/wiki/Special:RecentChanges" title="A list of recent changes to Wikipedia [r]"><span>Recent changes</span></a></li><li class="mw-list-item" id="n-upload"><a href="/wiki/Wikipedia:File_upload_wizard" title="Add images or other media for use on Wikipedia"><span>Upload file</span></a></li></ul>
</div>
</div>
<div class="vector-main-menu-action vector-main-menu-action-lang-alert">
<div class="vector-main-menu-action-item">
<div class="vector-main-menu-action-heading vector-menu-heading">Languages</div>
<div class="vector-main-menu-action-content vector-menu-content">
<div class="mw-message-box-notice vector-language-sidebar-alert mw-message-box">Language links are at the top of the page across from the title.</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
<a class="mw-logo" href="/wiki/Main_Page">
<img alt="" aria-hidden="true" class="mw-logo-icon" height="50" src="/static/images/icons/wikipedia.png" width="50"/>
<span class="mw-logo-container">
<img alt="Wikipedia" class="mw-logo-wordmark" src="/static/images/mobile/copyright/wikipedia-wordmark-en.svg" style="width: 7.5em; height: 1.125em;"/>
<img alt="The Free Encyclopedia" class="mw-logo-tagline" height="13" src="/static/images/mobile/copyright/wikipedia-tagline-en.svg" style="width: 7.3125em; height: 0.8125em;" width="117"/>
</span>
</a>
</div>
<div class="vector-header-end">
<div class="vector-search-box-vue vector-search-box-collapses vector-search-box-show-thumbnail vector-search-box-auto-expand-width vector-search-box" id="p-search" role="search">
<a accesskey="f" class="mw-ui-button mw-ui-quiet mw-ui-icon mw-ui-icon-element mw-ui-icon-wikimedia-search search-toggle" href="/wiki/Special:Search" title="Search Wikipedia [f]">
<span>Search</span>
</a>
<div>
<form action="/w/index.php" class="vector-search-box-form" id="searchform">
<div class="vector-search-box-inner" data-search-loc="header-moved" id="simpleSearch">
<input accesskey="f" aria-label="Search Wikipedia" autocapitalize="sentences" class="vector-search-box-input" id="searchInput" name="search" placeholder="Search Wikipedia" title="Search Wikipedia [f]" type="search"/>
<input name="title" type="hidden" value="Special:Search"/>
<input class="searchButton mw-fallbackSearchButton" id="mw-searchButton" name="fulltext" title="Search Wikipedia for this text" type="submit" value="Search"/>
<input class="searchButton" id="searchButton" name="go" title="Go to a page with this exact name if it exists" type="submit" value="Go"/>
</div>
</form>
</div>
</div>
<nav aria-label="Personal tools" class="vector-user-links" role="navigation">
<div class="vector-menu mw-portlet mw-portlet-vector-user-menu-overflow" id="p-vector-user-menu-overflow">
<div class="vector-menu-content">
<ul class="vector-menu-content-list"><li class="user-links-collapsible-item mw-list-item" id="pt-createaccount-2"><a href="/w/index.php?title=Special:CreateAccount&amp;returnto=List+of+bank+failures+in+the+United+States+%282008%E2%80%93present%29" title="You are encouraged to create an account and log in; however, it is not mandatory"><span>Create account</span></a></li><li class="user-links-collapsible-item mw-list-item" id="pt-login-2"><a accesskey="o" href="/w/index.php?title=Special:UserLogin&amp;returnto=List+of+bank+failures+in+the+United+States+%282008%E2%80%93present%29" title="You're encouraged to log in; however, it's not mandatory. [o]"><span>Log in</span></a></li></ul>
</div>
</div>
<div class="vector-menu vector-dropdown vector-menu-dropdown vector-user-menu mw-ui-icon-flush-right vector-user-menu-logged-out" id="vector-user-links-dropdown" title="Log in and more options">
<input aria-haspopup="true" aria-label="Personal tools" class="vector-menu-checkbox" data-event-name="ui.dropdown-vector-user-links-dropdown" id="vector-user-links-dropdown-checkbox" role="button" type="checkbox">
<label aria-hidden="true" class="vector-menu-heading mw-ui-button mw-ui-quiet mw-ui-icon-element" for="vector-user-links-dropdown-checkbox" id="vector-user-links-dropdown-label">
<span class="mw-ui-icon mw-ui-icon-ellipsis mw-ui-icon-wikimedia-ellipsis"></span>
<span class="vector-menu-heading-label">Personal tools</span>
</label>
<div class="vector-menu-content vector-dropdown-content">
<div class="vector-menu mw-portlet mw-portlet-personal user-links-collapsible-item" id="p-personal" title="User menu">
<div class="vector-menu-content">
<ul class="vector-menu-content-list"><li class="user-links-collapsible-item mw-list-item" id="pt-createaccount"><a href="/w/index.php?title=Special:CreateAccount&amp;returnto=List+of+bank+failures+in+the+United+States+%282008%E2%80%93present%29" title="You are encouraged to create an account and log in; however, it is not mandatory"><span class="mw-ui-icon mw-ui-icon-userAdd mw-ui-icon-wikimedia-userAdd"></span> <span>Create account</span></a></li><li class="user-links-collapsible-item mw-list-item" id="pt-login"><a accesskey="o" href="/w/index.php?title=Special:UserLogin&amp;returnto=List+of+bank+failures+in+the+United+States+%282008%E2%80%93present%29" title="You're encouraged to log in; however, it's not mandatory. [o]"><span class="mw-ui-icon mw-ui-icon-logIn mw-ui-icon-wikimedia-logIn"></span> <span>Log in</span></a></li></ul>
</div>
</div>
<div class="vector-menu mw-portlet mw-portlet-user-menu-anon-editor" id="p-user-menu-anon-editor">
<div class="vector-menu-heading">
		Pages for logged out editors <a aria-label="Learn more about editing" href="/wiki/Help:Introduction"><span>learn more</span></a>
</div>
<div class="vector-menu-content">
<ul class="vector-menu-content-list"><li class="mw-list-item" id="pt-anoncontribs"><a accesskey="y" href="/wiki/Special:MyContributions" title="A list of edits made from this IP address [y]"><span>Contributions</span></a></li><li class="mw-list-item" id="pt-anontalk"><a accesskey="n" href="/wiki/Special:MyTalk" title="Discussion about edits from this IP address [n]"><span>Talk</span></a></li></ul>
</div>
</div>
</div>
</input></div>
</nav>
</div>
</header>
</div>
<div class="mw-page-container">
<div class="mw-page-container-inner">
<div class="vector-main-menu-container">
<div id="mw-navigation">
<nav aria-label="Site" class="vector-main-menu-landmark" id="mw-panel" role="navigation">
<div class="vector-pinned-container" id="vector-main-menu-pinned-container">
</div>
</nav>
</div>
</div>
<div class="vector-sitenotice-container">
<div id="siteNotice"><!-- CentralNotice --></div>
</div>
<input class="vector-menu-checkbox" id="vector-toc-collapsed-checkbox" type="checkbox"/>
<nav aria-label="Contents" class="mw-table-of-contents-container vector-toc-landmark vector-sticky-pinned-container" data-event-name="ui.sidebar-toc" id="mw-panel-toc" role="navigation">
<div class="vector-pinned-container" id="vector-toc-pinned-container">
<div class="vector-toc vector-pinnable-element" id="vector-toc">
<div class="vector-pinnable-header vector-toc-pinnable-header vector-pinnable-header-pinned" data-feature-name="toc-pinned" data-pinnable-element-id="vector-toc">
<h2 class="vector-pinnable-header-label">Contents</h2>
<button class="vector-pinnable-header-toggle-button vector-pinnable-header-pin-button" data-event-name="pinnable-header.vector-toc.pin">move to sidebar</button>
<button class="vector-pinnable-header-toggle-button vector-pinnable-header-unpin-button" data-event-name="pinnable-header.vector-toc.unpin">hide</button>
</div>
<ul class="vector-toc-contents" id="mw-panel-toc-list">
<li class="vector-toc-list-item vector-toc-level-1" id="toc-mw-content-text">
<a class="vector-toc-link" href="#">
<div class="vector-toc-text">(Top)</div>
</a>
</li>
<li class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded" id="toc-2008">
<a class="vector-toc-link" href="#2008">
<div class="vector-toc-text">
<span class="vector-toc-numb">1</span>2008</div>
</a>
<ul class="vector-toc-list" id="toc-2008-sublist">
</ul>
</li>
<li class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded" id="toc-2009">
<a class="vector-toc-link" href="#2009">
<div class="vector-toc-text">
<span class="vector-toc-numb">2</span>2009</div>
</a>
<ul class="vector-toc-list" id="toc-2009-sublist">
</ul>

In [84]:
# this code find the table element , tr tag is to find row of the table (tr)
# find all is to find all <td>
# since col 1 is for bank name , it will print bank name 

table = soup.find("table", class_="wikitable sortable")
rows = table.find_all("tr")

for row in rows:
    cols = row.find_all("td")
    if cols:
        a_elem = cols[1].find("a")
        if a_elem:
            bank_name = a_elem.text
            print(bank_name)

Bear Stearns
IndyMac
Silver State Bank
Washington Mutual Bank

In [85]:
#looking for' a' elements in above code gives bank name with link , there are only 4 banks in 2008 table 
# so we can try to extract bank name with <td> element 


table = soup.find("table", class_="wikitable sortable")
rows = table.find_all("tr")

for row in rows:
    cols = row.find_all("td")
    if cols and cols[1]:
        bank_name = cols[1].text.strip()
        print(bank_name)

Douglass National Bank
Hume Bank
Bear Stearns
ANB Financial N.A.
First Integrity Bank, N.A.
IndyMac
First National Bank of Nevada
First Heritage Bank, N.A.
First Priority Bank
The Columbian Bank and Trust Company
Integrity Bank
Silver State Bank
Ameribank
Washington Mutual Bank
Main Street Bank
Meridian Bank
Alpha Bank & Trust
Freedom Bank
Franklin Bank
Security Pacific Bank
The Community Bank
Downey Savings and Loan
PFF Bank and Trust
First Georgia Community Bank
Haven Trust Bank
Sanderson State Bank

In [89]:
# good above code gives the failed bank list but only from 2008 table, b
# but in page there are failed bank form 2008 to 2023 
#to search from all table " soup.find_all('tables', class='wikitable sortable')"

import requests
import numpy as np
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

for table in soup.find_all("table", class_="wikitable sortable"):
    for row in table.find_all("tr"):
        cols = row.find_all("td")
        if cols and cols[1]:
            bank_name = cols[1].text.strip()
            print(bank_name)

Douglass National Bank
Hume Bank
Bear Stearns
ANB Financial N.A.
First Integrity Bank, N.A.
IndyMac
First National Bank of Nevada
First Heritage Bank, N.A.
First Priority Bank
The Columbian Bank and Trust Company
Integrity Bank
Silver State Bank
Ameribank
Washington Mutual Bank
Main Street Bank
Meridian Bank
Alpha Bank & Trust
Freedom Bank
Franklin Bank
Security Pacific Bank
The Community Bank
Downey Savings and Loan
PFF Bank and Trust
First Georgia Community Bank
Haven Trust Bank
Sanderson State Bank
National Bank of Commerce
Bank of Clark County
1st Centennial Bank
MagnetBank
Suburban FSB
Ocala National Bank
FirstBank Financial Service
Alliance Bank
County Bank
Sherman County Bank
Riverside Bank of the Gulf Coast
Corn Belt Bank & Trust Co.
Pinnacle Bank of Oregon
Silver Falls Bank
Heritage Community Bank
Security Savings Bank
Freedom Bank of Georgia
FirstCity Bank
Colorado National Bank
TeamBank, N.A.
Omni National Bank
Cape Fear Bank
New Frontier Bank
American Sterling Bank
Great Basin Bank of Nevada
American Southern Bank
Michigan Heritage Bank
First Bank of Beverly Hills
First Bank of Idaho
Silverton Bank, N.A.
Citizens Community Bank
America West Bank
Westsound Bank
BankUnited FSB
Strategic Capital Bank
Citizens National Bank
Bank of Lincolnwood
Southern Community Bank
Cooperative Bank
First National Bank of Anthony
Community Bank of West Georgia
Neighborhood Community Bank
Horizon Bank
MetroPacific Bank
Mirae Bank
First National Bank of Danville
Rock River Bank
John Warner Bank
First State Bank of Winchester
Elizabeth State Bank
Millennium State Bank of Texas
Founders Bank
Bank of Wyoming
Temecula Valley Bank
Vineyard Bank
BankFirst
First Piedmont Bank
Security Bank of Bibb County
Security Bank of North Metro
Security Bank of North Fulton
Security Bank of Gwinnett County
Security Bank of Jones County
Security Bank of Houston County
Waterford Village Bank
Integrity Bank
First State Bank of Altus
First BankAmericano
Peoples Community Bank
Mutual Bank
First State Bank
Community National Bank of Sarasota County
Community First Bank
Union Bank, N.A.
Dwelling House Savings and Loan Association
Colonial Bank
Community Bank of Arizona
Community Bank of Nevada
First Coweta Bank
Guaranty Bank
CapitalSouth Bank
ebank
Bradford Bank
Mainstreet Bank
Affinity Bank
First Bank of Kansas City
InBank
Vantus Bank
Platinum Community Bank
First State Bank
Corus Bank
Brickwell Community Bank
Venture Bank
Irwin Union Bank and Trust Company
Irwin Union Bank, F.S.B.
Georgian Bank
Warren Bank
Jennings State Bank
South Colorado National Bank
San Joaquin Bank
Partners Bank
American United Bank
Hillcrest Bank Florida
Flagship National Bank
Bank of Elmwood
Riverview Community Bank
First DuPage Bank of Westmont
Community Bank of Lemont
Bank USA, N.A.
California National Bank
San Diego National Bank
Pacific National Bank
Park National Bank
Citizens National Bank
Madisonville State Bank
North Houston Bank
United Security Bank
Home Federal Savings Bank
Prosperan Bank
Gateway Bank of St. Louis
United Commercial Bank
Century Bank, F.S.B.
Orion Bank
Pacific Coast National Bank
Commerce Bank of Southwest Florida
The Buckhead Community Bank
First Security National Bank
The Tattnall Bank
AmTrust Bank
Benchmark Bank
Greater Atlantic Bank
Republic Federal Bank, N.A.
Valley Capital Bank, N.A.
SolutionsBank
RockBridge Commercial Bank
Peoples First Community Bank
Citizens State Bank
New South Federal Savings Bank
Independent Bankers' Bank
Imperial Capital Bank
First Federal Bank of California, F.S.B.
Horizon Bank
Town Community Bank & Trust
St. Stephen State Bank
Barnes Banking Company
Premier American Bank
Bank of Leeton
Charter Bank
Evergreen Bank
Columbia River Bank
First National Bank of Georgia
Florida Community Bank
Marshall Bank, N.A.
Community Bank and Trust
First Regional Bank
American Marine Bank
1st American State Bank of Minnesota
La Jolla Bank
George Washington Savings Bank
The La Coste National Bank
Marco Community Bank
Carson River Community Bank
Rainier Pacific Bank
Centennial Bank
Waterfield Bank
Bank of Illinois
Sun American Bank
LibertyPointe Bank
The Park Avenue Bank
Statewide Bank
Old Southern Bank
American National Bank
Advanta Bank Corp
Century Security Bank
Bank of Hiawassee
Appalachian Community Bank
First Lowndes Bank
State Bank of Aurora
Desert Hills Bank
Unity National Bank
Key West Bank
McIntosh Commercial Bank
Beach First National Bank
City Bank
Tamalpais Bank
Innovative Bank
Butler Bank
Riverside National Bank of Florida
AmericanFirst Bank
First Federal Bank of North Florida
Lakeside Community Bank
Amcore Bank
Broadway Bank
Citizens Bank and Trust Company of Chicago
Lincoln Park Saving Bank
New Century Bank
Peotone Bank and Trust Company
Wheatland Bank
BC National Banks
CF Bancorp
Champion Bank
Eurobank
Frontier Bank
R-G Premier Bank of Puerto Rico
Westernbank Puerto Rico
1st Pacific Bank of California
Towne Bank of Arizona
Access Bank
The Bank of Bonifay
Midwest Bank and Trust Company
New Liberty Bank
Satilla Community Bank
Southwest Community Bank
Pinehurst Bank
Bank of Florida-Southeast
Bank of Florida-Southwest
Bank of Florida-Tampa Bay
Sun West Bank
Granite Community Bank
TierOne Bank
First National Bank
Arcola Homestead Savings Bank
Washington First International Bank
Nevada Security Bank
Peninsula Bank
First National Bank
High Desert State Bank
Bay National Bank
Ideal Federal Savings Bank
USA Bank
Home National Bank
Woodlands Bank
First National Bank of the South
Mainstreet Savings Bank
Metro Bank of Dade County
Turnberry Bank
Olde Cypress Community Bank
Community Security Bank
Crescent Bank and Trust Co
Sterling Bank
Williamsburg First National Bank
Thunder Bank
SouthwestUSA Bank
Home Valley Bank
Bayside Savings Bank
Coastal Community Bank
NorthWest Bank and Trust
The Cowlitz Bank
LibertyBank
Ravenswood Bank
Palos Bank and Trust
ShoreBank
Community National Bank at Bartow
Independent National Bank
Imperial Savings & Loan
Butte Community Bank
Pacific State Bank
Los Padres Bank
Sonoma Valley Bank
Horizon Bank
Bank of Ellijay
First Commerce Community Bank
Peoples Bank
ISN Bank
Bramble Savings Bank
Maritime Savings Bank
Haven Trust Bank Florida
North County Bank
Wakulla Bank
Shoreline Bank
Security Savings Bank, FSB
WestBridge Bank and Trust Company
Premier Bank
Hillcrest Bank
First Bank of Jacksonville
Progress Bank of Florida
First National Bank of Barnesville
Gordon Bank
First Suburban National Bank
First Arizona Savings
K Bank
Western Commercial Bank
First Vietnamese American Bank
Pierce Commercial Bank
Tifton Banking Company
Darby Bank & Trust
Copper Star Bank
Gulf State Community Bank
Allegiance Bank of North America
First Banking Center
Paramount Bank
Earthstar Bank
Chestatee State Bank
First Southern Bank
Community National Bank
United Americas Bank
Appalachian Community Bank
The Bank of Miami, N.A.
First Commercial Bank of Florida
Legacy Bank
Oglethorpe Bank
Enterprise Banking Company
CommunitySouth Bank and Trust
Bank of Asheville
United Western Bank
FirsTier Bank
First Community Bank
First State Bank
Evergreen State Bank
American Trust Bank
North Georgia Bank
Community First Bank
Peoples State Bank
Canyon National Bank
Sunshine State Community Bank
Badger State Bank
Habersham Bank
Citizens Bank of Effingham
Charter Oak Bank
San Luis Trust Bank, FSB
Valley Community Bank
First National Bank of Davis
Legacy Bank
Bank of Commerce
Western Springs National Bank and Trust
Nevada Commerce Bank
Bartow County Bank
New Horizons Bank
Nexity Bank
Superior Bank
Rosemount National Bank
Heritage Banking Group
Community Central Bank
Park Avenue Bank
First Choice Community Bank
Cortez Community Bank
First National Bank of Central Florida
Coastal Bank
Atlantic Southern Bank
First Georgia Banking Company
Summit Bank
First Heritage Bank
Atlantic Bank and Trust
McIntosh State Bank
First Commercial Bank of Tampa Bay
Mountain Heritage Bank
First Chicago Bank & Trust
Colorado Capital Bank
Signature Bank
One Georgia Bank
High Trust Bank
First Peoples Bank
Summit Bank
Southshore Community Bank
LandMark Bank of Florida
Bank of Choice
Virginia Business Bank
BankMeridian, N.A.
Integra Bank, N.A.
Bank of Shorewood
Bank of Whitman
The First National Bank of Olathe
Public Savings Bank
Lydian Private Bank
First Southern National Bank
First Choice Bank
Patriot Bank of Georgia
CreekSide Bank
First National Bank of Florida
Bank of the Commonwealth
Citizens Bank of Northern California
First International Bank
The RiverBank
Sun Security Bank
Piedmont Community Bank
Blue Ridge Savings Bank
First State Bank
Country Bank
Old Harbor Bank
Decatur First Bank
Community Capital Bank
Community Banks of Colorado
All American Bank
Mid City Bank, Inc.
SunFirst Bank
Community Bank of Rockmart
Polk County Bank
Central Progressive Bank
Premier Community Bank of the Emerald Coast
Western National Bank
Central Florida State Bank
The First State Bank
American Eagle Savings Bank
First Guaranty Bank and Trust Company of Jacksonville
Tennessee Commerce Bank
Patriot Bank Minnesota
BankEast
Charter National Bank and Trust
SCB Bank
Central Bank of Georgia
Home Savings of America
Global Commerce Bank
New City Bank
Covenant Bank & Trust
Premier Bank
Fidelity Bank
Fort Lee Federal Savings Bank, FSB
Bank of the Eastern Shore
HarVest Bank of Maryland
Inter Savings Bank, FSB
Plantation Federal Bank
Palm Desert National Bank
Security Bank, N.A.
Alabama Trust Bank, N.A.
First Capital Bank
Carolina Federal Savings Bank
Farmers and Traders State Bank
Waccamaw Bank
Putnam State Bank
Security Exchange Bank
The Farmers Bank of Lynchburg
Montgomery Bank and Trust
Glasgow Savings Bank
Royal Palm Bank of Florida
Georgia Trust Bank
First Cherokee State Bank
Heartland Bank
Second Federal Savings and Loan Association of Chicago
Jasper Banking Company
Waukegan Savings Bank
First Community Bank
Truman Bank
First United Bank
GulfSouth Private Bank
First East Side Savings Bank
Excel Bank
NOVA Bank
Heritage Bank of Florida
Citizens First National Bank
Hometown Community Bank
Community Bank of the Ozarks
Westside Community Bank
1st Regents Bank
Covenant Bank
Frontier Bank
Gold Canyon Bank
First Federal Bank
Heritage Bank of North Florida
Chipola Community Bank
Parkway Bank
Douglas County Bank
Pisgah Community Bank
Sunrise Bank
Central Arizona Bank
Banks of Wisconsin
1st Commerce Bank
Mountain National Bank
First Community Bank of South Florida
Bank of Wausau
Community South Bank
Sunrise Bank of Arizona
The Community's Bank
First National Bank, also operating as The National Bank of El Paso
Bank of Jackson County
Texas Community Bank, National Association
Dupage National Bank
The Bank of Union
Syringa Bank
Vantage Point Bank
Millennium Bank, National Association
Allendale County Bank
AztecAmerica Bank En Español
Columbia Savings Bank
Slavie Federal Savings Bank
Valley Bank
Valley Bank
The Freedom State Bank
Eastside Commercial Bank
GreenChoice Bank, fsb
NBRS Financial
The National Republic Bank of Chicago
Frontier Bank, FSB D/B/A El Paseo Bank
Northern Star Bank
First National Bank of Crestview
Highland Community Bank
Capitol City Bank and Trust
Doral Bank
Edgebrook Bank
Premier Bank
The Bank of Georgia
Hometown National Bank
North Milwaukee State Bank
Trust Company Bank
First CornerStone
The Woodbury Banking Company
Allied Bank
Harvest Community Bank
Seaway Bank and Trust Company
Proficio Bank
First NBC Bank
Guaranty Bank (d/b/a BestBank in Georgia and Michigan)
Fayette County Bank
The Farmers and Merchants State Bank of Argonia
Washington Federal Bank for Savings
The Enloe State Bank
Louisa Community Bank
Resolute Bank
City National Bank of New Jersey (City National)
Ericson State Bank
First State Bank of Barboursville
First City Bank of Florida
Almena State Bank
Silvergate Bank
Silicon Valley Bank
Signature Bank
First Republic Bank

In [87]:
# good now we have failed bank name but I donot know how many 
# banks , the following code will count the number of banks 

num_banks = 0  # initialize counter variable
for table in soup.find_all("table", class_="wikitable sortable"):
    for row in table.find_all("tr"):
        cols = row.find_all("td")
        if cols and cols[1]:
            bank_name = cols[1].text.strip()
            num_banks += 1  # increment counter variable

print("Number of banks in table:", num_banks)

Number of banks in table: 541

In [92]:
# now we are going to extract all 7 columns as a dataframe
url = "https://en.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

data = []
for table in soup.find_all("table", class_="wikitable sortable"):
    for row in table.find_all("tr"):
        cols = row.find_all("td")
#table = soup.find("table", class_="wikitable sortable")
#rows = table.find_all("tr")

for row in rows:
    cols = row.find_all("td")
    if len(cols) >= 5:
        bank_name = cols[1].text.strip()
        city = cols[2].text.strip()
        state = cols[3].text.strip()
        closing_date = cols[4].text.strip()
        acquiring_institution = cols[5].text.strip()
        estimated_loss = ""
        if len(cols) >= 6:
            estimated_loss = cols[6].text.strip()
        data.append([bank_name, city, state, closing_date, acquiring_institution, estimated_loss])


df = pd.DataFrame(data, columns=["Bank Name", "City", "State", "Closing Date", "Acquiring Institution", "Estimated Loss"])
print(df)

                               Bank Name           City          State  \
0                 Douglass National Bank    Kansas City       Missouri
1                              Hume Bank           Hume       Missouri
2                           Bear Stearns  New York City       New York
3                     ANB Financial N.A.    Bentonville       Arkansas
4             First Integrity Bank, N.A.        Staples      Minnesota
5                                IndyMac       Pasadena     California
6          First National Bank of Nevada           Reno         Nevada
7              First Heritage Bank, N.A.  Newport Beach     California
8                    First Priority Bank      Bradenton        Florida
9   The Columbian Bank and Trust Company         Topeka         Kansas
10                        Integrity Bank     Alpharetta        Georgia
11                     Silver State Bank      Henderson         Nevada
12                             Ameribank      Northfork  West Virginia
13                Washington Mutual Bank        Seattle     Washington
14                      Main Street Bank     Northville       Michigan
15                         Meridian Bank         Eldred       Illinois
16                    Alpha Bank & Trust     Alpharetta        Georgia
17                          Freedom Bank      Bradenton        Florida
18                         Franklin Bank        Houston          Texas
19                 Security Pacific Bank    Los Angeles     California
20                    The Community Bank     Loganville        Georgia
21               Downey Savings and Loan  Newport Beach     California
22                    PFF Bank and Trust         Pomona     California
23          First Georgia Community Bank        Jackson        Georgia
24                      Haven Trust Bank         Duluth        Georgia
25                  Sanderson State Bank      Sanderson          Texas

          Closing Date                            Acquiring Institution  \
0     January 25, 2008                           Liberty Bank and Trust
1        March 7, 2008                                    Security Bank
2       March 16, 2008                                J.P. Morgan Chase
3          May 9, 2008                   Pulaski Bank and Trust Company
4         May 30, 2008               First International Bank and Trust
5        July 11, 2008                                OneWest Bank, FSB
6        July 25, 2008                             Mutual of Omaha Bank
7        July 25, 2008                             Mutual of Omaha Bank
8       August 1, 2008                                   SunTrust Banks
9      August 22, 2008                          Citizens Bank and Trust
10     August 29, 2008                                     Regions Bank
11   September 5, 2008                                Nevada State Bank
12  September 19, 2008  The Citizens Savings BankPioneer Community Bank
13  September 25, 2008                              JPMorgan Chase & Co
14    October 10, 2008                            Monroe Bank and Trust
15    October 10, 2008                                    National Bank
16    October 24, 2008                               Stearns Bank, N.A.
17    October 31, 2008                                 Fifth Third Bank
18    November 7, 2008                                  Prosperity Bank
19    November 7, 2008                             Pacific Western Bank
20   November 21, 2008                                    Bank of Essex
21   November 21, 2008                                  U.S. Bank, N.A.
22   November 21, 2008                                  U.S. Bank, N.A.
23    December 5, 2008                                      United Bank
24   December 12, 2008          Branch Banking and Trust Company (BB&T)
25   December 12, 2008                      The Pecos County State Bank

   Estimated Loss
0            58.5
1            18.7
2         395,000
3           2,100
4            54.7
5          32,000
6           3,400
7             254
8             259
9             752
10          1,100
11          2,000
12            113
13        307,000
14             98
15           39.2
16          354.1
17            287
18          5,100
19          561.1
20          681.0
21         12,800
22          3,700
23          237.5
24            572
25             37

In [94]:
url = "https://en.wikipedia.org/wiki/List_of_bank_failures_in_the_United_States_(2008%E2%80%93present)"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

data = []
for table in soup.find_all("table", class_="wikitable sortable"):
    for row in table.find_all("tr"):
        cols = row.find_all("td")
        if len(cols) >= 5:
            bank_name = cols[1].text.strip()
            city = cols[2].text.strip()
            state = cols[3].text.strip()
            closing_date = cols[4].text.strip()
            acquiring_institution = cols[5].text.strip()
            estimated_loss = ""
            if len(cols) >= 6:
                estimated_loss = cols[6].text.strip()
            data.append([bank_name, city, state, closing_date, acquiring_institution, estimated_loss])

df = pd.DataFrame(data, columns=["Bank Name", "City", "State", "Closing Date", "Acquiring Institution", "Estimated Loss"])
print(df)

                      Bank Name           City       State      Closing Date  \
0        Douglass National Bank    Kansas City    Missouri  January 25, 2008
1                     Hume Bank           Hume    Missouri     March 7, 2008
2                  Bear Stearns  New York City    New York    March 16, 2008
3            ANB Financial N.A.    Bentonville    Arkansas       May 9, 2008
4    First Integrity Bank, N.A.        Staples   Minnesota      May 30, 2008
..                          ...            ...         ...               ...
536           Almena State Bank         Almena      Kansas  October 23, 2020
537             Silvergate Bank      San Diego  California     March 8, 2023
538         Silicon Valley Bank    Santa Clara  California    March 10, 2023
539              Signature Bank  New York City    New York    March 12, 2023
540         First Republic Bank  San Francisco  California       May 1, 2023

                  Acquiring Institution Estimated Loss
0                Liberty Bank and Trust           58.5
1                         Security Bank           18.7
2                     J.P. Morgan Chase        395,000
3        Pulaski Bank and Trust Company          2,100
4    First International Bank and Trust           54.7
..                                  ...            ...
536                         Equity Bank             70
537   None (Wound down voluntarily[13])     16,000[14]
538                      First Citizens        209,000
539                       Flagstar Bank    118,445[15]
540                   J.P. Morgan Chase    229,000[11]

[541 rows x 6 columns]

# format data into more readable form-
## making header bold and syling dataframe

In [104]:
header_style = [{
    'selector': 'th',
    'props': [('font-weight', 'bold')]
}]

# Apply the style to the DataFrame using the Styler object
styled_df = df.style.set_table_styles(header_style)

# Display the styled DataFrame
styled_df

# checking for any dublicates value in df

In [105]:
#Check for missing values using the isnull() and sum() methods.

df.isnull().sum()

Bank Name                0
City                     0
State                    0
Closing Date             0
Acquiring Institution    0
Estimated Loss           0
dtype: int64

In [106]:
print(df.head(5))

               Bank Name           City       State Closing Date  \
540  First Republic Bank  San Francisco  California   2023-05-01
539       Signature Bank  New York City    New York   2023-03-12
538  Silicon Valley Bank    Santa Clara  California   2023-03-10
537      Silvergate Bank      San Diego  California   2023-03-08
536    Almena State Bank         Almena      Kansas   2020-10-23

                 Acquiring Institution Estimated Loss
540                  J.P. Morgan Chase    229,000[11]
539                      Flagstar Bank    118,445[15]
538                     First Citizens        209,000
537  None (Wound down voluntarily[13])     16,000[14]
536                        Equity Bank             70

In [107]:
# checking data type for each columns 
df.dtypes

Bank Name                        object
City                             object
State                            object
Closing Date             datetime64[ns]
Acquiring Institution            object
Estimated Loss                   object
dtype: object

#  changing date format - fix inconsistent value

In [108]:
# since date datatype is string , we need to change into date type so that we could sort data by date 

df['Closing Date'] = pd.to_datetime(df['Closing Date'] , format= '%B %d, %Y')

In [109]:
print(df.head(5))

               Bank Name           City       State Closing Date  \
540  First Republic Bank  San Francisco  California   2023-05-01
539       Signature Bank  New York City    New York   2023-03-12
538  Silicon Valley Bank    Santa Clara  California   2023-03-10
537      Silvergate Bank      San Diego  California   2023-03-08
536    Almena State Bank         Almena      Kansas   2020-10-23

                 Acquiring Institution Estimated Loss
540                  J.P. Morgan Chase    229,000[11]
539                      Flagstar Bank    118,445[15]
538                     First Citizens        209,000
537  None (Wound down voluntarily[13])     16,000[14]
536                        Equity Bank             70

In [113]:
# now sorting data by date,newest bank fail on the top of the df 

df = df.sort_values(by='Closing Date', ascending=False)

In [114]:

print(df.head(10))

                                            Bank Name               City  \
540                               First Republic Bank      San Francisco
539                                    Signature Bank      New York City
538                               Silicon Valley Bank        Santa Clara
537                                   Silvergate Bank          San Diego
536                                 Almena State Bank             Almena
535                        First City Bank of Florida  Fort Walton Beach
534                 First State Bank of Barboursville      Barboursville
533                                Ericson State Bank            Ericson
532  City National Bank of New Jersey (City National)             Newark
531                                     Resolute Bank             Maumee

             State Closing Date              Acquiring Institution  \
540     California   2023-05-01                  J.P. Morgan Chase
539       New York   2023-03-12                      Flagstar Bank
538     California   2023-03-10                     First Citizens
537     California   2023-03-08  None (Wound down voluntarily[13])
536         Kansas   2020-10-23                        Equity Bank
535        Florida   2020-10-16          United Fidelity Bank, fsb
534  West Virginia   2020-04-03                      MVB Bank Inc.
533       Nebraska   2020-02-14         Farmers and Merchants Bank
532     New Jersey   2019-11-01                    Industrial Bank
531           Ohio   2019-10-25                 Buckeye State Bank

    Estimated Loss
540    229,000[11]
539    118,445[15]
538        209,000
537     16,000[14]
536             70
535          134.7
534          152.4
533          100.9
532          120.6
531           27.1

In [125]:
print(df.head(5))

               Bank Name           City       State Closing Date  \
540  First Republic Bank  San Francisco  California   2023-05-01
539       Signature Bank  New York City    New York   2023-03-12
538  Silicon Valley Bank    Santa Clara  California   2023-03-10
537      Silvergate Bank      San Diego  California   2023-03-08
536    Almena State Bank         Almena      Kansas   2020-10-23

                 Acquiring Institution Assets$Millions
540                  J.P. Morgan Chase         229,000
539                      Flagstar Bank         118,445
538                     First Citizens         209,000
537  None (Wound down voluntarily[13])          16,000
536                        Equity Bank              70

# Replacing header , only one header has changed

In [126]:
# estimated loss in actually assets in millions as we can see in wikipedia , so i want to change column name 

df = df.rename(columns={'Estimated Loss': 'Assets$Millions'})
print (df.head(5))

               Bank Name           City       State Closing Date  \
540  First Republic Bank  San Francisco  California   2023-05-01
539       Signature Bank  New York City    New York   2023-03-12
538  Silicon Valley Bank    Santa Clara  California   2023-03-10
537      Silvergate Bank      San Diego  California   2023-03-08
536    Almena State Bank         Almena      Kansas   2020-10-23

                 Acquiring Institution Assets$Millions
540                  J.P. Morgan Chase         229,000
539                      Flagstar Bank         118,445
538                     First Citizens         209,000
537  None (Wound down voluntarily[13])          16,000
536                        Equity Bank              70

# Removing bad data, removing link from assests

In [117]:



# removng link from assests in millions 

df['Assets$Millions'] = df['Assets$Millions'].str.replace(r'\[.*\]', '')

C:\Users\Gajendra Poudel\AppData\Local\Temp\ipykernel_20780\3422520106.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Assets$Millions'] = df['Assets$Millions'].str.replace(r'\[.*\]', '')

In [118]:
print(df.head(10))

                                            Bank Name               City  \
540                               First Republic Bank      San Francisco
539                                    Signature Bank      New York City
538                               Silicon Valley Bank        Santa Clara
537                                   Silvergate Bank          San Diego
536                                 Almena State Bank             Almena
535                        First City Bank of Florida  Fort Walton Beach
534                 First State Bank of Barboursville      Barboursville
533                                Ericson State Bank            Ericson
532  City National Bank of New Jersey (City National)             Newark
531                                     Resolute Bank             Maumee

             State Closing Date              Acquiring Institution  \
540     California   2023-05-01                  J.P. Morgan Chase
539       New York   2023-03-12                      Flagstar Bank
538     California   2023-03-10                     First Citizens
537     California   2023-03-08  None (Wound down voluntarily[13])
536         Kansas   2020-10-23                        Equity Bank
535        Florida   2020-10-16          United Fidelity Bank, fsb
534  West Virginia   2020-04-03                      MVB Bank Inc.
533       Nebraska   2020-02-14         Farmers and Merchants Bank
532     New Jersey   2019-11-01                    Industrial Bank
531           Ohio   2019-10-25                 Buckeye State Bank

    Assets$Millions
540         229,000
539         118,445
538         209,000
537          16,000
536              70
535           134.7
534           152.4
533           100.9
532           120.6
531            27.1

#  fuzzy matching - bank name vs acquiring institution

In [127]:
from fuzzywuzzy import fuzz

# Define a function to compute the similarity score between two strings
def compute_similarity(row):
    name1 = row["Bank Name"]
    name2 = row["Acquiring Institution"]
    return fuzz.token_set_ratio(name1, name2)

# Apply the function to each row in the DataFrame to compute the similarity scores
df["Similarity Score"] = df.apply(compute_similarity, axis=1)

# Sort the DataFrame by the similarity scores in descending order
df = df.sort_values(by="Similarity Score", ascending=False)

# Print the top 10 rows of the DataFrame with the highest similarity scores
print(df.head(10))

                          Bank Name           City       State Closing Date  \
354                   Superior Bank     Birmingham     Alabama   2011-04-15
172                    Charter Bank       Santa Fe  New Mexico   2010-01-22
59                   BankUnited FSB   Coral Gables     Florida   2009-05-21
298                  Hillcrest Bank  Overland Park      Kansas   2010-10-22
163       Independent Bankers' Bank    Springfield    Illinois   2009-12-18
170           Premier American Bank          Miami     Florida   2010-01-22
76   Millennium State Bank of Texas         Dallas       Texas   2009-07-02
318             First Southern Bank     Batesville    Arkansas   2010-12-17
127          Hillcrest Bank Florida         Naples     Florida   2009-10-23
415      Central Florida State Bank      Belleview     Florida   2012-01-20

            Acquiring Institution Assets$Millions  Similarity Score
354           Superior Bank, N.A.           3,000               100
172                  Charter Bank           1,200               100
59                     BankUnited          12,800               100
298          Hillcrest Bank, N.A.           1,600               100
163  The Independent Bankers Bank             586               100
170   Premier American Bank, N.A.             351               100
76            State Bank of Texas             118               100
318                 Southern Bank             156               100
127          Hillcrest Bank, N.A.              83                88
415   CenterState Bank of Florida            79.1                87

In [120]:
# finally I am going to change this in CSV 
# index= fail means there is no index in csv 

df.to_csv('failedbank-webscrip.csv', index=False)

In [74]:
# i wanted to check where my CSV file saved 
import os

# print the current working directory
print(os.getcwd())

C:\Users\Gajendra Poudel